[submodule "src/mcl"]
	path = src/mcl
	url = https://github.com/matthew-william-lock/mcl
[submodule "src/webots_ros2"]
	path = src/webots_ros2
	url = https://github.com/matthew-william-lock/webots_ros2
[submodule "src/particle-filter-accelerator"]
	path = src/particle-filter-accelerator
	url = https://github.com/thechosenone98/particle-filter-accelerator
[submodule "src/upduino-fpga-particle-filter"]
	path = src/upduino-fpga-particle-filter
	url = https://github.com/thechosenone98/upduino-fpga-particle-filter
